Correlation between Global Energy Change and the Global Inflation over the past 50 years by country

In [17]:
#Dependencies
import matplotlib as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import sys

In [19]:
resources_path = Path('resources')
sys.path.append(str(resources_path))
from config import API_KEY

In [22]:
url_base = "https://api.eia.gov/v2/"
response = requests.get(url_base, params={'api_key': API_KEY})
response.status_code

200

In [ ]:
#JSONify the data response
data = response.json()
data

{'response': {'id': '',
  'name': '',
  'description': '',
  'routes': [{'id': 'coal',
    'name': 'Coal',
    'description': 'EIA coal energy data'},
   {'id': 'crude-oil-imports',
    'name': 'Crude Oil Imports',
    'description': 'Crude oil imports by country to destination, \r\n        includes type, grade, quantity.  Source: EIA-814  Interactive data \r\n        product:  www.eia.gov/petroleum/imports/companylevel/'},
   {'id': 'electricity',
    'name': 'Electricity',
    'description': 'EIA electricity survey data'},
   {'id': 'international',
    'name': 'International',
    'description': 'Country level production, consumption, imports, exports by energy source (petroleum, natural gas, electricity, renewable, etc.)  \r\n        Interactive product:  https://www.eia.gov/international/data/world'},
   {'id': 'natural-gas',
    'name': 'Natural Gas',
    'description': 'EIA natural gas survey data'},
   {'id': 'nuclear-outages',
    'name': 'Nuclear Outages',
    'description': 'EIA nuclear outages survey data'},
   {'id': 'petroleum',
    'name': 'Petroleum',
    'description': 'EIA petroleum gas survey data'},
   {'id': 'seds',
    'name': 'State Energy Data System (SEDS)',
    'description': 'Estimated production, consumption, price, and expenditure data for all energy sources by state and sector.  \r\n        Source:  https://www.eia.gov/state/seds/seds-technical-notes-complete.php  \r\n        Product:  SEDS (https://www.eia.gov/state/seds/)'},
   {'id': 'steo',
    'name': 'Short Term Energy Outlook',
    'description': 'Monthly short term (18 month) projections using STEO model.  \r\n        Report and interactive projection data browser:  STEO (www.eia.gov/steo/)'},
   {'id': 'densified-biomass',
    'name': 'Densified Biomass',
    'description': 'EIA densified biomass data'},
   {'id': 'total-energy',
    'name': 'Total Energy',
    'description': 'These data represent the most recent comprehensive energy statistics integrated across all energy sources.  The data includes total energy production, consumption, stocks, and trade; energy prices; overviews of petroleum, natural gas, coal, electricity, nuclear energy, renewable energy, and carbon dioxide emissions; and data unit conversions values.  Source: https://www.eia.gov/totalenergy/data/monthly/pdf/mer_a_doc.pdf  Report:  MER (https://www.eia.gov/totalenergy/data/monthly/)'},
   {'id': 'aeo',
    'name': 'Annual Energy Outlook',
    'description': 'Annual U.S. projections using National Energy Modelling System (NEMS) for release year.  Report, documentation, and interactive projection data browser:  AEO (www.eia.gov/aeo/)'},
   {'id': 'ieo',
    'name': 'International Energy Outlook',
    'description': 'Annual international projections using the World Energy Projection System (WEPS) model for release year.  Report and interactive projection data browser:  IEO (www.eia.gov/ieo/)'},
   {'id': 'co2-emissions',
    'name': 'State CO2 Emissions',
    'description': 'EIA CO2 Emissions data'}]},
 'request': {'command': '/v2/',
  'params': {'api_key': '3qikzPjv9rtMrIrAR268wL5XbUQXaSl4V7Bkj6CO'}},
 'apiVersion': '2.1.8',
 'ExcelAddInVersion': '2.1.0'}

In [2]:
consumer_df = pd.read_csv('Resources/GlobalDatasetofInflation.csv', encoding='ISO-8859-1')
consumer_df.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

In [3]:
consumer_df['Series Name'].unique()

array(['Headline Consumer Price Inflation',
       'Energy Consumer Price Inflation', 'Food Consumer Price Inflation',
       'Official Core Consumer Price Inflation',
       'Producer Price Inflation'], dtype=object)

In [4]:
energy_df = consumer_df[consumer_df['Series Name'] == 'Energy Consumer Price Inflation']
energy_df

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
203,ABW,314.0,Aruba,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.230,-1.28,1.26,5.38,Energy (estimated),NaN,NaN,NaN,NaN,NaN
204,AFG,512.0,Afghanistan,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-2.490,NaN,NaN,NaN,Energy,NaN,NaN,NaN,NaN,NaN
205,ALB,914.0,Albania,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.690,1.42,2.70,15.73,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
206,ARE,466.0,United Arab Emirates,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-5.200,-3.67,-3.65,NaN,Energy,NaN,NaN,NaN,NaN,NaN
207,ARG,213.0,Argentina,Inflation,Energy Consumer Price Inflation,NaN,25.9,6.7,39.9,9.4,...,49.280,19.95,26.23,45.89,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ZAF,199.0,South Africa,Inflation,Energy Consumer Price Inflation,NaN,3.2,7.5,10.5,7.9,...,5.210,3.74,14.31,24.37,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
371,ZMB,754.0,Zambia,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,5.690,18.82,18.48,12.81,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
372,ZWE,698.0,Zimbabwe,Inflation,Energy Consumer Price Inflation,1.1,-0.4,-0.6,-0.7,0.3,...,90.810,306.43,69.82,49.07,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
373,VGB,284.0,British Virgin Islands,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-0.100,-1.00,0.90,NaN,Housing & Utilities,Additional countries from the previous update,NaN,NaN,NaN,NaN
374,NCL,687.0,New Caledonia,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-0.331,-5.10,4.79,NaN,Energy estiamted,Additional countries from the previous update,NaN,NaN,NaN,NaN