Correlation between Global Energy Change and the Global Inflation over the past 50 years by country

In [1]:
import matplotlib as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress

In [2]:
consumer_df = pd.read_csv('Resources/GlobalDatasetofInflation.csv', encoding='ISO-8859-1')
consumer_df.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

In [5]:
energy_df = consumer_df[consumer_df['Series Name'] == 'Energy Consumer Price Inflation']
energy_df.head(10)

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
203,ABW,314.0,Aruba,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.23,-1.28,1.26,5.38,Energy (estimated),NaN,NaN,NaN,NaN,NaN
204,AFG,512.0,Afghanistan,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-2.49,NaN,NaN,NaN,Energy,NaN,NaN,NaN,NaN,NaN
205,ALB,914.0,Albania,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.69,1.42,2.70,15.73,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
206,ARE,466.0,United Arab Emirates,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-5.20,-3.67,-3.65,NaN,Energy,NaN,NaN,NaN,NaN,NaN
207,ARG,213.0,Argentina,Inflation,Energy Consumer Price Inflation,NaN,25.9,6.7,39.9,9.40,...,49.28,19.95,26.23,45.89,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
208,ARM,911.0,Armenia,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.48,0.89,1.28,6.07,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
209,AUS,193.0,Australia,Inflation,Energy Consumer Price Inflation,-0.2,2.5,3.6,2.8,15.23,...,-1.21,-0.12,10.93,16.93,Energy,NaN,NaN,NaN,NaN,NaN
210,AUT,122.0,Austria,Inflation,Energy Consumer Price Inflation,6.8,6.7,4.0,5.9,15.40,...,0.90,2.40,12.25,40.14,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
211,AZE,912.0,Azerbaijan,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-0.15,1.52,15.68,14.85,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
212,BDI,618.0,Burundi,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,7.41,5.06,7.82,10.69,Energy,NaN,NaN,NaN,NaN,NaN