**Correlation between Global Energy Change and the Global Inflation over the past 50 years by country**

In [28]:
#Dependencies
import matplotlib as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import sys

**Setting Up API Access**

In [29]:
resources_path = Path('resources')
sys.path.append(str(resources_path))
from config import API_KEY

In [30]:
url_base = "https://api.eia.gov/v2/"
response = requests.get(url_base, params={'api_key': API_KEY})
response.status_code

200

In [31]:
#JSONify the data response
data = response.json()
data;

**Pandafying the csv dataset specific to the Energy Consumer Price Inflation Series Name**

In [32]:
consumer_df = pd.read_csv('Resources/GlobalDatasetofInflation.csv', encoding='ISO-8859-1')
consumer_df.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

In [33]:
#Checking for the unique series names for ours: 'Energy Consumer Price Inflation'
consumer_df['Series Name'].unique()

array(['Headline Consumer Price Inflation',
       'Energy Consumer Price Inflation', 'Food Consumer Price Inflation',
       'Official Core Consumer Price Inflation',
       'Producer Price Inflation'], dtype=object)

In [34]:
#Main DataFrame we will be working off of, will use for comparison
energy_df = consumer_df[consumer_df['Series Name'] == 'Energy Consumer Price Inflation']
energy_df

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
203,ABW,314.0,Aruba,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.230,-1.28,1.26,5.38,Energy (estimated),NaN,NaN,NaN,NaN,NaN
204,AFG,512.0,Afghanistan,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-2.490,NaN,NaN,NaN,Energy,NaN,NaN,NaN,NaN,NaN
205,ALB,914.0,Albania,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.690,1.42,2.70,15.73,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
206,ARE,466.0,United Arab Emirates,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-5.200,-3.67,-3.65,NaN,Energy,NaN,NaN,NaN,NaN,NaN
207,ARG,213.0,Argentina,Inflation,Energy Consumer Price Inflation,NaN,25.9,6.7,39.9,9.4,...,49.280,19.95,26.23,45.89,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ZAF,199.0,South Africa,Inflation,Energy Consumer Price Inflation,NaN,3.2,7.5,10.5,7.9,...,5.210,3.74,14.31,24.37,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
371,ZMB,754.0,Zambia,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,5.690,18.82,18.48,12.81,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
372,ZWE,698.0,Zimbabwe,Inflation,Energy Consumer Price Inflation,1.1,-0.4,-0.6,-0.7,0.3,...,90.810,306.43,69.82,49.07,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
373,VGB,284.0,British Virgin Islands,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-0.100,-1.00,0.90,NaN,Housing & Utilities,Additional countries from the previous update,NaN,NaN,NaN,NaN
374,NCL,687.0,New Caledonia,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-0.331,-5.10,4.79,NaN,Energy estiamted,Additional countries from the previous update,NaN,NaN,NaN,NaN

**Cleaning the Filtered Dataset**

In [ ]:
#Checking for null values
print(energy_df.isnull().sum())

#Replace NaN with 0
energy_df = energy_df.fillna(value=0)

Country Code        0
IMF Country Code    0
Country             0
Indicator Type      0
Series Name         0
                   ..
Unnamed: 59         0
Unnamed: 60         0
Unnamed: 61         0
Unnamed: 62         0
Unnamed: 63         0
Length: 64, dtype: int64

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
203,ABW,314.0,Aruba,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,1.230,-1.28,1.26,5.38,Energy (estimated),0,0.0,0.0,0.0,0.0
204,AFG,512.0,Afghanistan,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,-2.490,0.00,0.00,0.00,Energy,0,0.0,0.0,0.0,0.0
205,ALB,914.0,Albania,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,0.690,1.42,2.70,15.73,"Housing, Water, Electricity, Gas & Other Fuel",0,0.0,0.0,0.0,0.0
206,ARE,466.0,United Arab Emirates,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,-5.200,-3.67,-3.65,0.00,Energy,0,0.0,0.0,0.0,0.0
207,ARG,213.0,Argentina,Inflation,Energy Consumer Price Inflation,0.0,25.9,6.7,39.9,9.4,...,49.280,19.95,26.23,45.89,"Housing, Water, Electricity, Gas & Other Fuel",0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ZAF,199.0,South Africa,Inflation,Energy Consumer Price Inflation,0.0,3.2,7.5,10.5,7.9,...,5.210,3.74,14.31,24.37,"Housing, Water, Electricity, Gas & Other Fuel",0,0.0,0.0,0.0,0.0
371,ZMB,754.0,Zambia,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,5.690,18.82,18.48,12.81,"Housing, Water, Electricity, Gas & Other Fuel",0,0.0,0.0,0.0,0.0
372,ZWE,698.0,Zimbabwe,Inflation,Energy Consumer Price Inflation,1.1,-0.4,-0.6,-0.7,0.3,...,90.810,306.43,69.82,49.07,"Housing, Water, Electricity, Gas & Other Fuel",0,0.0,0.0,0.0,0.0
373,VGB,284.0,British Virgin Islands,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,-0.100,-1.00,0.90,0.00,Housing & Utilities,Additional countries from the previous update,0.0,0.0,0.0,0.0
374,NCL,687.0,New Caledonia,Inflation,Energy Consumer Price Inflation,0.0,0.0,0.0,0.0,0.0,...,-0.331,-5.10,4.79,0.00,Energy estiamted,Additional countries from the previous update,0.0,0.0,0.0,0.0